 body{
  margin: 0;
  padding: 0;
  border: none;
 }

 .containt_login{
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding:  1rem 0 12.7rem 0;
 }

.form_styles{
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

Label{
  display: block;
  padding: 10px 0 10px 0;
  width: 50%;
}


Input {
  border: 1px solid;
  display: block;
  padding: 10px 0 10px 0;
  width: 50%;
}

.send{
  padding: .5rem;
  width: 25%;
  border-radius: 10rem;
  border: none;
  margin-top: 1rem;
  background: #0b70e1;
}


.login_sesion{
  width: 24rem;
  padding: 20px 0 0 90px;
}

/*ESTILOS PARA EL PIE DE PÁGINA*/
.footer{
  grid-area: footer;
  background: black;
  color: #454545;
  border-top: 1px solid white;
  text-align: left;
  line-height: 68px;
  padding-left: 25px;
}

.footer a{
  color: #0b468a;
  text-decoration: none;
}

button a{
  color: white;
  text-decoration: none;
}
